<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.form)">
    <div class="form-group">
        <label for="firstName"> First Name</label>
        <input ngControl="firstName"
               #firstName="ngForm"
               id="firstName"
               type="text"
               class="form-control"
               required
                minlength="5">
        <div *ngIf="!firstName.valid && firstName.touched && firstName.errors">
            <div class="alert alert-danger"
                 *ngIf="firstName.errors.required">
                First name is required.
            </div>
            <div class="alert alert-danger"
                 *ngIf="firstName.errors.minlength">
                First name should have atleast {{firstName.errors.minlength.requiredLength}} characters.
            </div>
        </div>

    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea id="comment"
                  #comment="ngForm"
                  ngControl="comment"
                  class="form-control"
                  cols="30"
                  rows="10"
                  required>

        </textarea>
        <div class="alert alert-danger"
             *ngIf="!comment.valid && comment.touched">
            First name is required.
        </div>
    </div>
    <button class="btn btn-primary"
            type="submit"
            [disabled]="!contactForm.valid">Submit</button>
</form>