Reset Password

<form [ngFormModel]="passwordResetForm" (submit)="resetPassword()">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="form-group">
                <label for="oldPassword">Existing Password</label>
                <input type="password"
                       id="oldPassword"
                       class="form-control"
                       #oldPassword="ngForm"
                       ngControl="oldPassword"
                        >
                <div *ngIf="oldPassword.touched && !oldPassword.valid && oldPassword.errors">
                    <div *ngIf="oldPassword.errors.required">
                        Old Password is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password"
                       id="password"
                       class="form-control"
                       #newPassword="ngForm"
                       ngControl="newPassword"
                >
                <div *ngIf="newPassword.touched && !newPassword.valid && newPassword.errors">
                    <div *ngIf="newPassword.errors.required">
                        New Password is required.
                    </div>
                    <div *ngIf="newPassword.errors.minlength">
                        New Password should be at least {{ newPassword.errors.minlength.requiredLength }} characters long.
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="confirm-password">Confirm New Password</label>
                <input type="confirm-password"
                       id="confirm-password"
                       class="form-control"
                       #confirmPassword="ngForm"
                       ngControl="confirmPassword"
                >
                <div *ngIf="confirmPassword.touched && !confirmPassword.valid && confirmPassword.errors">
                    <div *ngIf="confirmPassword.errors.required">
                        Confirm Password is required.
                    </div>

                </div>
                <div *ngIf="confirmPassword.touched && passwordResetForm.errors && passwordResetForm.errors.passwordsShouldMatch">
                    Confirm Password should be same as new password.
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>







</form>