<form #subscriptionForm="ngForm" (submit)="onSubmit(subscriptionForm.form)">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="form-group">
                <label for="name">Name </label>
                <input type="text"
                       id="name"
                       class="form-control"
                       ngControl="name"
                       #name="ngForm"
                        required />
            </div>
            <div *ngIf="name.touched && !name.valid && name.errors">
                <div class="alert alert-danger" *ngIf="name.errors.required">
                    Name is mandatory.
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text"
                       id="email"
                       class="form-control"
                       #email="ngForm"
                       ngControl="email"
                       required
                />
            </div>
            <div *ngIf="!email.valid && email.touched && email.errors">
                <div class="alert alert-danger" *ngIf="name.errors.required">
                    Email is mandatory.
                </div>
            </div>

            <div class="form-group">
                <label for="frequency">Frequency of mails</label>
                <select id="frequency" class="form-control" #frequency="ngForm" ngControl="frequency">
                    <option *ngFor="#frequency of frequencyOptions"
                            [value]="frequency.value">
                        {{ frequency.displayValue }}
                    </option>
                </select>
            </div>
            <button class="btn btn-primary" [disabled]="!subscriptionForm.valid"> Save</button>
        </div>
        <div class="col-md-1"></div>

    </div>

</form>